<p style="color: green"><%= notice %></p>

<div class="mb-4">
  <%= link_to "Submit assessment", new_course_submission_path(@course), class: "btn btn-primary" %>
</div>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to dashboard", dashboard_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
